	.sidebar{
		display:flex;
		flex-direction:column;
		background-color:#1C232B;
		position: fixed;
		top:76px;
		bottom: 0px;
		left:0px;
		width:72px;
		z-index:200px;
	}
	.button-uniform{
		width:72px;
		height:72px;
		background-color:#1C232B;
		border-width: 0px;
	}
	.img-uniform{
		width: 24px;
		height: 24px;
	}
	.button-uniform:hover,
	.main:hover
	{
		background-color:rgb(38, 38, 38);
		transition:red 0.15s;
		border-radius: 4px;
	}
	.main{
		color:#E1E5EA;
		background-color:#1C232B;
		font-family:Open Sans, Arial,Helvetica,sans-serif;
		font-size:10px;
	}